<header class="header">
    <div class="container header__container">
        <a href="#" class="header__logo">

        </a>
        <nav class="header-nav">
            <ul class="header-nav__list">
                <li class="header-nav__item"><a href="" class="header-nav__link"></a></li>
                <li class="header-nav__item"><a href="" class="header-nav__link"></a></li>
                <li class="header-nav__item"><a href="" class="header-nav__link"></a></li>
                <li class="header-nav__item"><a href="" class="header-nav__link"></a></li>
            </ul>
        </nav>
    </div>
</header>
